<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keqiaokeji.tezizai.svc.mc.mapper.MenuTableInfoMapper">
    <resultMap id="BaseResultMap" type="com.keqiaokeji.tezizai.svc.mc.domain.MenuTableInfo">
        <id column="menu_table_id" property="menuTableId" jdbcType="VARCHAR" />
        <result column="table_code" property="tableCode" jdbcType="VARCHAR" />
        <result column="table_content" property="tableContent" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="corp_id" property="corpId" jdbcType="VARCHAR" />
        <result column="record_status" property="recordStatus" jdbcType="VARCHAR" />
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="last_modify_user_id" property="lastModifyUserId" jdbcType="VARCHAR" />
        <result column="last_modify_time" property="lastModifyTime" jdbcType="BIGINT" />
    </resultMap>
    <sql id="Base_Column_List">
       menu_table_id, table_code, table_content, status, corp_id, record_status, create_user_id,
    create_time, last_modify_user_id, last_modify_time
    </sql>


    <select id="getListByJQgrid" resultMap="BaseResultMap"
            parameterType="com.keqiaokeji.tezizai.common.jqgrid.JQGridPage">
        select
        <include refid="Base_Column_List"/>
        from mc_menu_table_info
        <include refid="jqgrid_filter"/>
    </select>


    <select id="getListCountByJQgrid" parameterType="com.keqiaokeji.tezizai.common.jqgrid.JQGridPage"
            resultType="java.lang.Integer">
        select count(*) from mc_menu_table_info
        <where>
            <include refid="jqgrid_filter_rules"/>
        </where>
    </select>








    <sql id="jqgrid_filter">
        <where>
            <include refid="jqgrid_filter_rules"/>
        </where>
        order by
        <choose>
            <when test="sidx != null and sidx != '' and sord != null and sord != ''">
                ${sidx} ${sord}
            </when>
            <otherwise>
                last_modify_time desc
            </otherwise>
        </choose>
        <if test="pageFirst != null">
            limit #{rows}
        </if>
        offset #{pageFirst}
    </sql>

    <sql id="jqgrid_filter_rules">
        <if test="jqGridFilter != null">
            1=1
            <foreach collection="jqGridFilter.rules" item="rule">
                ${jqGridFilter.groupOp} ${rule.field}
                <if test="rule.op == 'eq'">
                    = #{rule.data}
                </if>
                <if test="rule.op == 'ne'">
                    != #{rule.data}
                </if>
                <if test="rule.op == 'in'">
                    <![CDATA[>]]> #{rule.data}
                </if>
                <if test="rule.op == 'ni'">
                    <![CDATA[<]]> #{rule.data}
                </if>
                <if test="rule.op == 'cn'">
                    like CONCAT('%',#{rule.data},'%')
                </if>
                <if test="rule.op == 'nc'">
                    not like CONCAT('%',#{rule.data},'%')
                </if>
            </foreach>
        </if>
    </sql>
</mapper>
